<%- include('../partials/header') %>
<div class="justify-content-center d-flex">
	<div class="my-5 col-md-5">
		<div class="p-5 text-center bg-body-secondary rounded">
			<div class="container py-5">
				<h1 class="text-body-emphasis">
					<%= title %>
				</h1>
				<img width="150vmin" height="200vmin" src="<%= book.dataImg %>">
				<p class="col-lg-8 mx-auto lead">
					Author: <%= book.author %>
				</p>
				<p class="col-lg-8 mx-auto lead">
					Pages: <%= book.pages %>
				</p>
				<p class="col-lg-8 mx-auto lead">
					Genre: <%= book.genre %>
				</p>
				<p class="col-lg-8 mx-auto lead">
					Description: <%= book.description %>
				</p>
				<p class="col-lg-8 mx-auto lead">
					Price: $<%= book.price %>
				</p>
				<% if (book.link !== 'Not available') { %>
				<p class="col-lg-8 mx-auto lead">
					<a href="<%= book.link %>">Buy me</a>
				</p>
				<% } %>
				<div class="mt-5">
					<form action="/books" method="POST">
						<input type="text" name="title" value="<%= book.title %>" hidden>
						<input type="text" name="author" value="<%= book.author %>" hidden>
						<input type="number" name="pages" value="<%= book.pages %>" hidden>
						<input type="text" name="genre" value="<%= book.genre %>" hidden>
						<button class="btn btn-lg btn-primary" type="submit">Add book</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>